[Unit]
Description=Merge Tesla dashcam videos from all three cameras
After=network.target systemd-user-session.service loadSSD.service uploadDrive.service
RequiresMountsFor=SSD_MOUNT_POINT

[Service]
User=PROJECT_USER
ExecStart=PROJECT_PATH/TeslaCamMerge/MergeTeslaCam.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
