[Unit]
Description=Merge Tesla dashcam videos from all three cameras
After=network.target
After=systemd-user-session.service
After=loadSSD.service
After=uploadDrive.service
RequiresMountsFor=/media/pavan/Samsung_T5

[Service]
User=pavan
ExecStart=PROJECT_PATH/TeslaCamMerge/MergeTeslaCam.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
