[Unit]
Description=Start filebrowser with database in project path
After=network.target systemd-user-session.service mergeTeslaCam.service
RequiresMountsFor=SSD_MOUNT_POINT

[Service]
User=PROJECT_USER
ExecStart=FILEBROWSER_PATH -d PROJECT_PATH/filebrowser.db
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
