[Unit]
Description=Start filebrowser
After=network.target
After=systemd-user-session.service
After=loadSSD.service
After=mergeTeslaCam.service
After=uploadDrive.service
RequiresMountsFor=/media/pavan/Samsung_T5/Footage

[Service]
User=PROJECT_USER
ExecStart=FILEBROWSER_PATH -d PROJECT_PATH/filebrowser.db
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
