[Unit]
Description=Remove old empty directories from CIFS share path
PartOf=tcm.service
After=tcm.service
After=mergeTeslaCam.service

[Service]
User=PROJECT_USER
ExecStart=PROJECT_PATH/TeslaCamMerge/RemoveOld.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
