[Unit]
Description=Merge Tesla dashcam videos from all three cameras
Partof=tcm.service
After=tcm.service
After=loadSSD.service

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=PROJECT_PATH/TeslaCamMerge/MergeTeslaCam.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
