[Unit]
Description=Start filebrowser with database in project path
Partof=tcm.service
After=tcm.service
After=mergeTeslaCam.service

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=FILEBROWSER_PATH -d PROJECT_PATH/filebrowser.db
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
