[Unit]
Description=Upload selected dashcam footage to Google Drive
Partof=tcm.service
After=tcm.service
After=loadSSD.service

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=PROJECT_PATH/TeslaCamMerge/UploadDrive.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
