[Unit]
Description=Load SSD with dashcam clips received over CIFS share
PartOf=tcm.service
After=tcm.service

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=PROJECT_PATH/TeslaCamMerge/LoadSSD.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
