[Unit]
Description=Download dashcam footage from remote location
PartOf=tcm.service
After=tcm.service
After=mergeTeslaCam.service

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=PROJECT_PATH/TeslaCamMerge/DownloadTC.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm.service
