[Unit]
Description=Upload selected dashcam footage to Google Drive
After=network.target multi-user.target loadSSD.service
RequiresMountsFor=SSD_MOUNT_POINT

[Service]
User=PROJECT_USER
ExecStartPre=/bin/sleep 60
ExecStart=PROJECT_PATH/TeslaCamMerge/UploadDrive.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=smbd.service
